body {
  background-color: #111;
  color: #ddd;
  font-family: 'Muli', sans-serif;
}

h2 {
  font-weight: 700;
}

/* Table Styling */
.table {
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  background-color: #222;
}

.table th {
  font-size: 14px;
  letter-spacing: 1px;
  background: #333;
  color: #ff9800 !important;
}

.table td {
  color: #ddd;
}

.table tbody tr {
  background-color: #1e1e1e !important;
}

.table-bordered th, 
.table-bordered td {
  border: 1px solid #555 !important;
}

/* Buttons */
.btn-danger {
  background-color: #dc3545 !important;
  border: none;
  transition: 0.3s;
}

.btn-danger:hover {
  background-color: #b02a37 !important;
}
