body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

.page-banner {
  width: 100%;
  background-image: url('../img/classes.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 450px;
  margin-top: 56px;
}
.container-fluid {  
  padding-left: 0;  
  padding-right: 0;  
}
.container.my-0 {
   margin-top: 0 !important;
   padding-top: 0 !important;
}
.section-title {  
   text-align: center;  
   margin: 0;  
   padding: 0;  
   margin-bottom: 0px;  
   padding-bottom: 0;  
}  
.section-title span {  
  display: block;  
  color: #ff6600;  
  font-size: 20px;  
  letter-spacing: 1px;  
}  
.section-title h2 {  
  font-size: 36px;  
  font-weight: 700;  
  margin-top: 10px;  
  color: #111;  
}  
.section-title a:hover{
  text-decoration: none;
  background-color: #ff6600;
  color: #111;
  border: #000 !important;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background-color: #000;
  padding: 30px 20px;
  margin-bottom: 0;  
  padding-bottom: 0;  
  margin-top: -40px;
    
}

.class-card {
  background-color: #111;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.class-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.class-card h4 {
  font-size: 20px;
  color: #ff6600;
  margin-bottom: 10px;
}

.class-card .details {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 5px;
  text-align: left;
}

.btn-join {
    background-color: transparent;  
    color: #fff;                    
    padding: 12px 30px;  
    border: 2px solid #fff;      
    border-radius: 30px;                
    font-size: 14px;  
    font-weight: bold;  
    transition: all 0.3s ease-in-out;  
    display: inline-block;  
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}

.btn-join:hover {
  background-color: #ff6600;
  color: #fff;
  border: 2px solid #ff6600;  
  text-decoration: none;
}


    .enroll-btn-wrapper {  
      width: 100%;  
    }  
    @media (max-width: 768px) {  
      .enroll-btn-wrapper {  
        text-align: center;  
        margin-bottom: 20px;  
      }  
    }  